/* Reset CSS */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  ---baseColor: #e8e8e8;
  ---secondaryBaseColor: #f6f6f6;
  ---mainColor: #252525;
  ---subColor: #b5b5b5;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
}

hr {
  height: 1px;
  border: solid 0.5px var(---subColor);
}

a {
  color: #378ad8;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(---baseColor);
}

/* intContainer System */

.intContainer {
  margin-right: auto;
  margin-left: auto;
}

@media (width >= 800px) {
  .intContainer {
    width: 750px;
  }
}

@media (width >= 1020px) {
  .intContainer {
    width: 970px;
  }
}

@media (width >= 1220px) {
  .intContainer {
    width: 1170px;
  }
}

/* intHeader */

.intHeader {
  background-color: var(---baseColor);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.intHeaderContainer {
  padding-right: 13px;
  padding-left: 13px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.intHeaderMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

@media (width >= 800px) {
  .intHeaderContainer {
    width: 750px;
  }
}

@media (width >= 1020px) {
  .intHeaderContainer {
    width: 970px;
  }
}

@media (width >= 1220px) {
  .intHeaderContainer {
    width: 1170px;
  }
}

/* intFooter */

.intFooter {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* intButton */

.intButton {
  padding: 13px;
  font-size: 14px;
  background: var(---mainColor);
  border-radius: 30px;
  color: #f2f2f2;
  transition: 0.1s;
}
.intButton:hover {
  box-shadow: #8b8b8b 0px 1px 2px 0.5px;
  background: #2d2d2d;
}
.intButton:active {
  background: var(---subColor);
  border-radius: 10px;
}

.intOutlinedButton {
  padding: 13px;
  font-size: 14px;
  border: solid 1px var(---mainColor);
  border-radius: 30px;
  color: var(---mainColor);
  background: var(---secondaryBaseColor);
  transition: 0.1s;
}
.intOutlinedButton:hover {
  background: #e6e6e6;
}
.intOutlinedButton:active {
  background: var(---subColor);
  border-radius: 10px;
}

/* Built-in Function */

/* width / height */

.intWidth100 {
  width: 100%;
}
.intHeight100 {
  height: 100%;
}

/* text align */

.intTextRight {
  text-align: right;
}
.intTextLeft {
  text-align: left;
}
.intTextCenter {
  text-align: center;
}

/* text size */

.intTextLarge {
  font-size: 60px;
}
.intTextSmall {
  font-size: 18px;
}
.intTextVeryLarge {
  font-size: 80px;
}
.intTextVerySmall {
  font-size: 11px;
}

/* text color */

.intTextColorBlack {
  color: #131313;
}
.intTextColorWhite {
  color: #f5f5f5;
}
.intTextColorRed {
  color: #e06161;
}
.intTextColorBlue {
  color: #3e8bd3;
}
.intTextColorYellow {
  color: #e0d53a;
}
.intTextColorGreen {
  color: #46bf58;
}

/* background color  */

.intBgColorBlack {
  background: #131313;
}
.intBgColorWhite {
  background: #f5f5f5;
}
.intBgColorRed {
  background: #e06161;
}
.intBgColorBlue {
  background: #3e8bd3;
}
.intBgColorYellow {
  background: #e0d53a;
}
.intBgColorGreen {
  background: #46bf58;
}

/* add padding / margin */

.intAddPadding {
  padding: 13px;
}
.intAddMargin {
  margin: 13px;
}

.intAddPaddingTop {
  padding-top: 13px;
}
.intAddMarginTop {
  margin-top: 13px;
}

.intAddPaddingBottom {
  padding-bottom: 13px;
}
.intAddMarginBottom {
  margin-bottom: 13px;
}

.intAddPaddingRight {
  padding-right: 13px;
}
.intAddMarginRight {
  margin-right: 13px;
}

.intAddPaddingLeft {
  padding-left: 13px;
}
.intAddMarginLeft {
  margin-left: 13px;
}

/* remove padding / margin */

.intRemovePadding {
  padding: 0px;
}
.intRemoveMargin {
  margin: 0px;
}

.intRemovePaddingTop {
  padding-top: 0px;
}
.intRemoveMarginTop {
  margin-top: 0px;
}

.intRemovePaddingBottom {
  padding-bottom: 0px;
}
.intRemoveMarginBottom {
  margin-bottom: 0px;
}

.intRemovePaddingRight {
  padding-right: 0px;
}
.intRemoveMarginRight {
  margin-right: 0px;
}

.intRemovePaddingLeft {
  padding-left: 0px;
}
.intRemoveMarginLeft {
  margin-left: 0px;
}

/* remove text decoration */

.intRemoveTextDeco {
  text-decoration: none;
}

/* remove background color */

.intRemoveBgColor {
  background: none;
}

/* view */

.intContentView {
  background-color: var(---secondaryBaseColor);
  padding: 27px;
  border-radius: 30px 30px 30px 30px;
}

.intSidebarView {
  padding-right: 10px;
  padding-left: 10px;
  width: 260px;
}

.intStackView {
  width: 100%;
}

/* intSidebarStackContainer  */

.intSidebarStackContainer {
  display: flex;
}

@media (width < 800px) {
  .intSidebarStackContainer {
    flex-direction: column;
  }
  .intSidebarView {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(---subColor);
  }
  .intBtnsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px;
  }
  .intBtnsContainer button {
    margin: 0;
    width: 100%;
  }
}
